<div class="container">
  <div class="new-question" style="margin-bottom: 10px">
    <%= button_to ' + New Question ', new_question_path, class: "btn btn-info", method: :get %>
  </div>
  <% @questions.each do |question| %>
    <div class="question-box" data-id= "<%= question.id %>">
      <%= render 'question_box', question: question , hide_answer_btn: false %>
    </div>
  <% end %>
</div>
<br>


<script>
  $('.question-box').click(function() {
    let questionId = $(this).attr("data-id")
    window.location = "/questions/" + questionId;
    return true;
  })

  $(".question-box a").click(function(e) {
    e.stopPropagation();
  });

</script>
