<div class="container">
  <div class="question-box" data-id= "<%= @question.id %>">
    <%= render 'question_box', question: @question, hide_answer_btn: false %>
    <%= render 'answers/answer_body', answers: @question.answers %>
  </div>
</div>
