<div class="container">
  <div class="question-box" data-id= "<%= @question.id %>">
    <%= render 'questions/question_box', question: @question, hide_answer_btn: true %>
    <div class="answer-text-area" style="margin-top: 25px;">
      <%= render 'form', answer: @answer, question: @question %>
    </div>
  </div>
</div>
